.shopContainer{
    display: flex;
    margin: 30px 0;
}
.productContainer{
    width: 70%;
    margin: 10px 10px 10px 20px;
    border-right: 1px solid gray;
}
.cartContainer{
    padding: 30px;
    position: fixed;
    border-radius: 10px;
    border: 3px solid orange;
}

