.twinContainer{
    display: flex;
    margin: 30px 0;
}
.productContainer{
    width: 70%;
    float: left;
    margin: 10px 10px 10px 20px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}
.cartContainer{
    padding: 40px;
    float: left;
    margin: 10px 20px;
    border-radius: 10px;

}
 
@media screen and (max-width: 900px){
    .twinContainer{
        display: flex;
        flex-direction: column;
    }
    .productContainer{
        width:90%;
        margin: 10px auto;

    }
    
}