.product{
    display: flex;
    border-bottom: 1px solid gray;
   margin: 10px 20px 10px 20px;
   padding: 20px;
}
.product img{
    margin: 15px;
}
.title{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.button-cart{
    background: goldenrod;
    padding: 10px 15px;
    width: 120px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}