.header img{
   height: 80px;
   margin: 10px;
}
.header{
  text-align: center;
}

nav{
  background: black;
  line-height: 40px;
 
}

nav a{
 text-decoration: none;
 color: white;
 font-size: 20px;
 padding: 5px 10px;
 margin: 5px 10px;

}
 nav a:hover{
   background: darkgray;
 }